{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        {% for baloon in all_baloons %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis"> {{ baloon.baloon_type.name }} </strong>
                    <h3 class="mb-0"> {{ baloon.title }} </h3>
                    <div class="mb-1 text-body-secondary"> {{ baloon.created_at }} </div>
                    <p class="card-text mb-auto"> {{ baloon.description|truncatechars:100 }} </p>
                    <a href="{% url 'detail-page' baloon.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
                        Подробнее ...
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% if baloon.image %}
                    <img src="{{ baloon.image.url }}" class="bd-placeholder-img" width="200" height="250">
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}